{% extends "base.html" %}

{% block title %}
    {{object.title}}
{% endblock %}

{% block content %}
    {% if object %}
        <h1>{{object.title}}</h1><br>   
        <p>{{object.content}}</p><br>

        <h3 style="color:rgb(37, 150, 202)">written by: {{object.author}}</h3>
        ----------------------------------------------------------------------------------------------------<br><br><br>
        {% if comment_list %}
            {% for comment in comment_list %}
                <h4>{{comment.user}} at {{comment.created_at}}</h4>
                <p>{{comment.text}}</p><br>
                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
            {% endfor %}
        {% else %}
            <p>be the first person to write your comment...</p>
        {% endif %}
    {% else %}
        <p>this post does not exist!</p>
    {% endif %}
{% endblock %}